@model IndexViewModel
@{
    ViewData["Title"] = "Home Page";
}
<div class="container-fluid">
    <div class="text-center ">
        <h1>Welcome to Mountain Guide</h1>
    </div>
    <div class="container-fluid m-4">
        <div class="text-center">
            <h2>Recently added:</h2>
        </div>
        <div class="row justify-content-center gx-5 ">
            <div class="card col-md-6 m-4 p-1 rounded-2 shadow" style="width: 25rem;">
                <article class="card-header fw-bold">
                    Announcements
                </article>
                <ul class="list-group list-group-flush">
                    @if (Model.Announcements.Count > 0)
                    {
                        foreach (var announcement in Model.Announcements)
                        {
                            <li class="list-group-item">
                                @announcement.ContentBegining
                                <a class="text-info float-end align-middle" asp-controller="Announcement" asp-action="Details" asp-route-id="@announcement.Id">Details</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">Sorry! Announcement's list is empty</li>
                    }
                </ul>
                <div class="card-footer">
                    <div class="align-middle fst-italic">
                        Total Announcement: @Model.TotalAnnouncements
                        <a class="text-info float-end align-middle" href="">View All</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-6 m-4 p-1 rounded-2 shadow" style="width: 25rem;">
                <article class="card-header fw-bold">
                    Tourist buildins
                </article>
                <ul class="list-group list-group-flush">
                    @if (Model.TouristBuildings.Count > 0)
                    {
                        foreach (var touristBuilding in Model.TouristBuildings)
                        {
                            <li class="list-group-item">
                                @touristBuilding.Name
                                <a class="text-info float-end align-middle" asp-controller="TouristBuilding" asp-action="Details" asp-route-id="@touristBuilding.Id">Details</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">Sorry! Tourist building's list is empty</li>
                    }
                </ul>
                <div class="card-footer">
                    <div class="align-middle fst-italic">
                        Total Tourist buildins: @Model.TotalTouristBuildings
                        <a class="text-info float-end align-middle" href="">View All</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-6 m-4 p-1 rounded-2 shadow" style="width: 25rem;">
                <article class="card-header fw-bold">
                    Mountains
                </article>
                <ul class="list-group list-group-flush">
                    @if (Model.Mountains.Count > 0)
                    {
                        foreach (var mountain in Model.Mountains)
                        {
                            <li class="list-group-item">
                                @mountain.Name
                                <a class="text-info float-end align-middle" asp-controller="Mountain" asp-action="Details" asp-route-id="@mountain.Id">Details</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">Sorry! Mountain's list is empty</li>
                    }
                </ul>
                <div class="card-footer">
                    <div class="align-middle fst-italic">
                        Total Mountains: @Model.TotalMountains
                        <a class="text-info float-end align-middle" href="">View All</a>
                    </div>
                </div>
            </div>
            <div class="card col-md-6 m-4 p-1 rounded-2 shadow" style="width: 25rem;">
                <article class="card-header fw-bold">
                    Peaks
                </article>
                <ul class="list-group list-group-flush">
                    @if (Model.Peaks.Count > 0)
                    {
                        foreach (var peak in Model.Peaks)
                        {
                            <li class="list-group-item">
                                @peak.Name
                                <a class="text-info float-end align-middle" asp-controller="Peak" asp-action="Details" asp-route-id="@peak.Id">Details</a>
                            </li>
                        }
                    }
                    else
                    {
                        <li class="list-group-item">Sorry! Peak's list is empty</li>
                    }
                </ul>
                <div class="card-footer">
                    <div class="align-middle fst-italic">
                        Total Peaks: @Model.TotalPeaks
                        <a class="text-info float-end align-middle" href="">View All</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
